* {
    box-sizing: border-box;
}


    
  
    
.title-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 95vh
}

.opening-title{
    font-size: 31.25px;
    margin-bottom: 0;
}


.start-button{
    background-color: #4D5B9E;
    width: 193px;
    color: #F5F7FB;
    padding: 10px;
    border-radius: 15px;
}

/* second page */

.all-answers{
    display: flex;
    width: 100%;
    justify-content: center;
}

.correct-answer,
.mixed-answer{
    border: solid;
    border-radius: 10px;
    
}

.correct-answer{

}

.incorrect-answers{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ques-block{
    margin-bottom: 10px;
    border: solid 2px
}

.answers{
    display: flex;
    justify-content: space-around
}